.bgimage{
    background-image: url('../../photographs/top-view-white-plane-green-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
    margin: -8px;
}
