<div class="bgimage">
    <div>
    <button class="btn" (click)="logout()"> Logout </button>
    </div>
    <div class="container">
        <div class="table-header">
            <p class="table-title">Flights</p>
            <button class="add-button" mat-mini-fab matTooltip="New flight" matTooltipPosition="right" (click)="addFlight()">
                <mat-icon>+</mat-icon>
            </button>
        </div>
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="begin">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> Begin </th>
                <td mat-cell *matCellDef="let flight" class="cell-center">{{flight.begin | date:'MMM d, y, h:mm a'}}</td>
            </ng-container>
            <ng-container matColumnDef="end">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> End </th>
                <td mat-cell *matCellDef="let flight" class="cell-center">{{flight.end | date:'MMM d, y, h:mm a'}}</td>
            </ng-container>
            <ng-container matColumnDef="startingPlace">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> Start </th>
                <td mat-cell *matCellDef="let flight" class="cell-center">{{flight.startingPlace}}</td>
            </ng-container>
            <ng-container matColumnDef="destination">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> Destination </th>
                <td mat-cell *matCellDef="let flight" class="cell-center">{{flight.destination}}</td>
            </ng-container>
            <ng-container matColumnDef="maxSeats">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> Max Seats </th>
                <td mat-cell *matCellDef="let flight" class="cell-center">{{flight.maxSeats}}</td>
            </ng-container>
            <ng-container matColumnDef="freeSeats">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> Free Seats </th><mat-icon>event_seat</mat-icon>
                <td mat-cell *matCellDef="let flight" class="cell-center">{{flight.freeSeats}}</td>
            </ng-container>
            <ng-container matColumnDef="seatPrice">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> Seat Price (€) </th>
                <td mat-cell *matCellDef="let flight" class="cell-center">{{flight.seatPrice}}  €</td>
            </ng-container>
            
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef class="cell-center"></th>
                <td mat-cell *matCellDef="let flight" class="cell-center">
                    <button mat-icon-button (click)="deleteFlight(flight.id)">
                        <mat-icon matTooltip="Delete flight">x</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
