<div class="bgimage">
    <div>
        <button class="btn" (click)="logout()"> Logout </button>
        </div>
    <div class="container">
        <div class="table-header">
            <p class="table-title">Ticket Information</p>
        </div>
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> Start Date </th>
                <td mat-cell *matCellDef="let ticket" class="cell-center">{{ticket.dateTime | date:'short'}}</td>
            </ng-container>
            <ng-container matColumnDef="startingLocation">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> Starting Location </th>
                <td mat-cell *matCellDef="let ticket" class="cell-center">{{ticket.startingLocation}}</td>
            </ng-container>
            <ng-container matColumnDef="destination">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> Destination </th>
                <td mat-cell *matCellDef="let ticket" class="cell-center">{{ticket.destination}}</td>
            </ng-container>
            <ng-container matColumnDef="numberOfPeople">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> Price per person </th>
                <td mat-cell *matCellDef="let ticket" class="cell-center">{{ticket.pricePerPerson}}</td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>

