<html>
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
  
<body>

  <div class="bgimage">
    <div class="wrapper">

      <div class="title">
          Login  
      </div>
      
      <div class="form">
        <form [formGroup]="loginUserForm">
          
          <div class="inputfield">
            <label for="email">Email:</label>
            <input type="text" placeholder="example@mail.com" formControlName="email" class="input">
          </div>
          <div class="inputfield">
          <label></label>
          <span style="color: red; font-size: medium; font: bold;" *ngIf="email && email.invalid && email.touched"> This email is invalid! </span>
          </div>

          <div class="inputfield">
            <label>Password:</label>
            <input type="password" name="password" formControlName="password" placeholder="*********" class="input">
          </div>
          <div class="inputfield">
            <label></label>
            <span style="color: red; font-size: medium; font: bold;" *ngIf="password && password.invalid && password.touched"> You must enter your password! </span>
            </div>

          <div class="inputfield">
            <button [disabled]="loginUserForm.invalid" class="btn">Login</button>
          </div>

          <div class="inputfield">
            <label>Don't have an account?</label>
            <input type="submit" value="Sign up" class="btn">
          </div>

        </form>
      </div>
    </div>
  </div>

</body>
</html>
