<div class="bgimage">
    <div class="wrapper">

        <div class="title">
            Add Flight  
        </div>
        
        <div class="form">
          <form [formGroup]="createFlightForm">
  
            <div class="inputfield">
              <label for="startingPlace">Starting Place:</label>
              <input type="text" name="startingPlace" formControlName="startingPlace" placeholder="" class="input">
            </div>
            <div class="inputfield">
              <label></label>
              <span style="color: red; font-size: medium; font: bold;" *ngIf="startingPlace && startingPlace.invalid && startingPlace.touched"> This word is invalid! </span>
            </div>
  
            <div class="inputfield">
              <label for="destination">Destination:</label>
              <input type="text" name="destination" formControlName="destination" placeholder="" class="input">
            </div>
            <div class="inputfield">
              <label></label>
              <span style="color: red; font-size: medium; font: bold;" *ngIf="destination && destination.invalid && destination.touched"> This word is invalid! </span>
            </div>
  
            <div class="inputfield">
              <label for="maxSeats">Max Seats:</label>
              <input type="text" name="maxSeats" formControlName="maxSeats" placeholder="" class="input">
            </div>
            <div class="inputfield">
              <label></label>
              <span style="color: red; font-size: medium; font: bold;" *ngIf="maxSeats && maxSeats.invalid && maxSeats.touched"> This number is invalid! </span>
            </div>

            <div class="inputfield">
                <label for="seatPrice">Seat Price:</label>
                <input type="text" name="seatPrice" formControlName="seatPrice" placeholder="" class="input">
              </div>
              <div class="inputfield">
                <label></label>
                <span style="color: red; font-size: medium; font: bold;" *ngIf="seatPrice && seatPrice.invalid && seatPrice.touched"> This number is invalid! </span>
              </div>
  
            <div class="inputfield">
              <button [disabled]="createFlightForm.invalid" class="btn" (click)="createFlight()">Submit</button>
            </div>
          </form>
          <br>
          
  
          <div class="inputfield">
            <button class="btn" (click)="goBack()">Cancel</button>
          </div>
        </div>
      </div>
</div>
